.cart- {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    // font-family: Arial, sans-serif;
    font-family: monospace;
    color: #ffffff;
    // border: 1px solid red ;

    .cart-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .cart-header
    // ,.cart-item 
    {
        display: grid;
        grid-template-columns: 52% 20% 25%;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;

    }

    .cart-item {
        // border: 1px solid red;
        display: grid;
        grid-template-columns: 25% 20% 17% 25% 15%;
        align-items: center;

        .item-quantity {
            // border: solid red 1px;
                display: flex;
                justify-content: center;

                button{
                    color: white;
                }
        }
    }

    .cart-header span {
        font-weight: bold;
    }

    .cart-item {
        .item-image {
            width: 90%;
            height: 90%;
            object-fit: cover;
        }

        .item-details {
            display: flex;
            flex-direction: column;

            .item-description {
                font-size: 12px;
                color: #777;
            }

            .item-name {
                font-size: 16px;
                margin: 5px 0;
            }

            .item-prices {
                font-size: 14px;

                .original-price {
                    text-decoration: line-through;
                    color: #777;
                    margin-right: 5px;
                }

                .sale-price {
                    color: #d32f2f;
                    font-weight: bold;
                }
            }

            .item-final-sale {
                font-size: 12px;
                color: #d32f2f;
            }
        }

        .item-size, .item-color {
            text-align: center;
            font-size: 14px;
        }

        .item-quantity {
            display: flex;
            align-items: center;

            button {
                background: none;
                border: 1px solid #ddd;
                padding: 5px 10px;
                cursor: pointer;
            }

            span {
                padding: 0 10px;
                font-size: 14px;
            }
        }

        .remove-button {
            background: none;
            border: none;
            color: #d32f2f;
            cursor: pointer;
            text-decoration: underline;
            font-size: 12px;
        }
    }

    .cart-summary {
        margin-top: 20px;
        background-color: black;
        color: white;
        padding: 15px;
        border-top: 1px  solid #ddd;

        .summary-line {
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
            font-size: 16px;
            // color: black;
        }

        .checkout-button {
            width: 50%;
            padding: 10px;
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 16px;
            margin-top: 30px;
            margin-left: 25%;
            font-weight: bold;
            // border: 1px solid red;

            // text-align: center;
            // align-items: center;
        }

        .checkout-button:hover {
            background-color: #1d1d1d;
          }

    }

    .continue-shopping {
        display: block;
        text-align: right;
        margin-top: 20px;
        text-decoration: none;
        color: #a3a3a3;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }
}
