.checkout {
    border: solid red 1px;
    
}

.checkout-title {
    border: solid red 1px;

}

.checkout-table {
   border: solid red 1px;
}


.checkout-head {

    border: solid red 1px;

}
.checkout-row-one {
    border: solid red 1px;

}
.checkout-head-one {

    border: solid red 1px;

}
.checkout-head-two {
    border: solid red 1px;

}
.checkout-head-three {
    border: solid red 1px;

}
.checkout-head-four {
    border: solid red 1px;

}