.contact_developer{
    // color: white;
    border: solid hsl(0deg 0% 23%) 1px;
    margin-top: auto;
    // margin-bottom: 0;
    // padding: 0;
    background: linear-gradient(hsl(0deg 0% 23%), black);
}