.burger-menu{
    // border: solid 1px green;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center; /* centers both vertically and horizontally */
    font-family: sans Arial, Helvetica, sans-serif;
    margin-right: 75%;
    cursor: pointer;

}

.hamburger{
    margin-right: 5px;
    // border: solid 1px green;
    width: 2rem;
    height: 1.5rem; 
    display: flex; 
    justify-content: space-around;
    flex-flow: column nowrap; 
    // z-index: 10;
    // margin: auto;
    // align-items: center;
    cursor: pointer;
}

.burger{
    // border: solid 1px green;

    width: 1.5rem;
    height: .2rem; 
    border-radius: 10px; 
    background-color: white; 
    // margin-bottom: .1px;
    // transform-origin: 1px;
    // transition: all 0.3s linear;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

  
 
  /* Transform for each line to make an "X" when active */
  .hamburger.open .burger1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.open .burger2 {
    opacity: 0; /* Hide middle line */
  }
  
  .hamburger.open .burger3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
 
