.message {
  font-size: 15pt;
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
  margin: 50px 100px 75px 100px;
  // border: solid 1px red;
  font-family: monospace;
}

#scroll-container {
  margin: 10px 0px 0px 0px;
  opacity: 0.9;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), hsl(0, 0%, 25%));
  font-stretch: narrower;
  overflow: hidden;
  // border: yellow 1px solid;
}

#scroll-text {
  // border: solid 1px red;
  opacity: 0.9;
  color: hsl(0deg 0% 98%);
  white-space: nowrap; /* Keeps text in a single line */
  position: relative;
  z-index: auto;
  letter-spacing: -30px;
  word-spacing: 200px;
  font-weight: 1000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 250pt;
  animation: scroll 30s linear infinite; /* Controls speed and repeat */
}

/* Keyframes for scroll animation */
@keyframes scroll {
  from {
    transform: translateX(100%); /* Start outside the right edge */
  }
  to {
    transform: translateX(-90%); /* End outside the left edge */
  }
}

// .waitlist {
//   background: linear-gradient(hsl(0deg 0% 23%), rgba(0, 0, 0, 0.5), hsl(0deg 0% 23%));
//   // border: solid 1px red;
//   padding: 50px;
//   display: grid;
//   place-items: center; /* centers both vertically and horizontally */
//   grid-template-rows: 33% 33% 33%;
//   // margin: 0px 10px 0px 10px;
//   text-align: center;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;    /* Center vertically */

// }

// .waitlist-title {
//   // border: solid 1px red;
//   font-family: sans-serif;
//   font-size: 50pt;
//   letter-spacing: -5px;
//   word-spacing: 7px;
//   font-stretch: narrower;
//   font-weight: 500;
//   margin-bottom: 50px;
//   transform: scale(1, 1.3);
//     text-align: center;

// }

// .waitlist_description {
//   // border: solid 1px red;
//   font-family: monospace;
//   font-size: 10pt;
//   font-weight: 100;
//   word-spacing: 0px;
//   letter-spacing: 1px;
//   line-height: 25px;
//   color: hsl(0deg 0% 98%);
//   margin-bottom: 60px;
//   text-align: center;

// }

// .sign-up_container {
//   // border: solid 1px red;
//   width: 52%;
// }

// .sign-up_label {
//   font-family: monospace;
//   // border: solid 1px red;
//   display: flex;
// }

// .require {
//   // border: solid 1px red;
//   font-weight: 100;
//   color: hsl(0, 0%, 85%);
//   font-family: 'Courier New', Courier, monospace;
//   font-size: 11pt;
//   margin-left: 5px;
// }

// #sign-up {
//   // border: solid 1px red;

//   border: none;
//   width: 100%;
//   height: 40px;
//   margin-bottom: 25px;
//   outline-color: transparent;
//   font-size: 13.5pt;
//   // margin: 20px 0px 30px 0px;

// }

// .sign-up_button {
//   // border: solid 1px red;

//   border: solid rgb(175, 175, 175) 1px;
//   font-family: monospace;
//   font-size: 12pt;
//   font-weight: 9100;
//   background-color: rgb(20, 20, 20);  
//   color: white;
//   padding: 20px 30px;
//   // margin: 20px 30px;
// }

// .sign-up_button:hover {
//   border: solid rgb(175, 175, 175) 1px;
//   font-family: monospace;
//   font-size: 12pt;
//   font-weight: 9100;
//   background-color: white;  
//   color: black;
//   padding: 20px 30px;
// }


@media only screen and  (max-width:  1215px){
  #scroll-container {
    margin: 10px 0px 0px 0px;
    opacity: 0.9;
    height: 330px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), hsl(0, 0%, 25%));
    font-stretch: narrower;
    overflow: hidden;
  }
  
  #scroll-text {
    // border: solid 1px red;
    opacity: 0.9;
    color: hsl(0deg 0% 98%);
    white-space: nowrap; /* Keeps text in a single line */
    position: relative;
    z-index: auto;
    letter-spacing: -30px;
    word-spacing: 200px;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 250pt;
    animation: scroll 20s linear infinite; /* Controls speed and repeat */
  }
  
  /* Keyframes for scroll animation */
  @keyframes scroll {
    from {
      transform: translateX(100%); /* Start outside the right edge */
    }
    to {
      transform: translateX(-300%); /* End outside the left edge */
    }
  }
}