.shop-title {
    font-family: monospace;
    font-size: 30pt;
    text-align: center;
    // border: red 1px solid;
}

/////////////////////////////////PRODUCT LIST SCSS////////////////////////////////////////////////////////
.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.item-section {
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    height: 450px;
    margin-bottom: 30px;

    .item-img {
        width: 250px;
        height: 350px;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    .item-img:hover {
        width: 250px;
        height: 350px;
        border-radius: 8px;
        opacity: 0.8;
        transform: scale(1.1);
    }

    .item-description {
        flex-grow: 1;
        font-size: 16px;
        color: white;
        font-family: 'Franklin Gothic Medium', Arial, sans-serif;
        text-decoration: none;
    }

    .price {
        // border: red solid 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .item-original-price {
        text-decoration: line-through;
        color: #777;
        font-family: monospace;
        font-size: 16px;

    }

    .item-price {
        font-weight: bold;
        font-size: 18px;
        color: white;
        /* Optional: color for price */
        font-family: monospace;
    }
}

.item-link {
    text-decoration: none;
}
