.gg-shopping-cart {
    margin-left: 10%;
    color: white;
    // border: solid 1px green;
    display: block;
    box-sizing: border-box;
    position: relative;
    // transform: scale(var(--ggs, 1));
    width: 25px;
    height: 25px;
    background:
    linear-gradient(to left, currentColor 12px,
    transparent 0) no-repeat -1px 7px/18px 2px,
    linear-gradient(to left, currentColor 12px,
    transparent 0) no-repeat 6px 16px/11px 2px,
    linear-gradient(to left, currentColor 12px,
    transparent 0) no-repeat 0 2px/4px 2px,
    radial-gradient(circle, currentColor 60%,
    transparent 40%) no-repeat 14.5px 19px/4px 4px,
    radial-gradient(circle, currentColor 60%,
    transparent 40%) no-repeat 5.5px 19px/4px 4px;
    cursor: pointer;
}

.gg-shopping-cart::after,
.gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 16px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}

.gg-shopping-cart::after {
    height: 12px;
    top: 6px;
    left: 18px;
    transform: skew(-12deg)
}