#root {
  // margin-right: 0;
  // box-sizing: border-box;
  // width: 100vw;
  // margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
  // border: 1px red solid;

  // margin: 0px 0px 0px 0px;
}
